body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(image2.jpg);
}

code {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
